body{
	background-color: black;
	color:white;
}

.flowcast-img{
	width: 580px;
}

.flowcast-logo{
	margin-top: 43px;
}

.title{
    margin-bottom: 24px;
    margin-top: 0px;
}

.btn-color{
	background-color:#50E3C2;
}
.btn-down{
	font-weight: bold;
	margin-top: 21px;
	border-radius: 3px;
    padding: 14px 20px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    transition: background-color ease 0.2s;
}

.btn-down:hover{
	background-color:#0eb791;
}

a:hover{
	color: #000000;
    text-decoration: none;
}

a:visited{
	color: #000000;
    text-decoration: none;
}

a:active{
	color: #000000;
    text-decoration: none;
}