*{
	margin: 0px
}

body{
	background-color: #121212;
	color:white;
	font-family: 'Roboto', sans-serif;
}

.center{
    position: absolute;
    top: 7%;
    width: 100%;
    text-align: center;
    color: black;
}

.download{
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    color: black;
}

#contenido{
    background-image: url(../images/big.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}

#texts{
	font-weight: 100;
    font-size: 67px;
}

#strong{
	font-weight: 400;
}

.btdownload{
    border: solid 2px #ff7600;
    border-radius: 3px;
    padding: 14px 20px;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    position: relative;
    height: 3%;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: #ff7600;
}

.btdownload:hover{
	text-decoration: underline;
}

#redes{
	font-size: 3vw;
    right: 5%;
    color: #b7b7b7;
    position: absolute;
    top: 3%;
    cursor: pointer;
}

i{
	cursor: pointer;
}

i:hover{
	color:black;
}

@media only screen and (max-width: 600px) {
   #texts{
   	font-size: 54px;
   }

   .btdownload{
   	width: 69%;
   }

   .center{
   	top: 1%;
   }

   #redes{
   	position: absolute;
    top: 84%!important;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
   }
}